   html{
  margin:0;
  padding:0;
  background-image: url('BACKGROUNDDDDD.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}  
html, body{
  height: 100%;
}

.taskbar ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.taskbar li {
  float: left;
}

.taskbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.taskbar li a:hover {
  background-color: red;
}
.p1{
  background-color:white
}